/* src/fonts.css */
@font-face {
  font-family: "futura";
  src: url("./assets/fonts/futura/Futura\ Bold.ttf") format("truetype"),
    url("./assets/fonts/futura/Futura\ Medium.ttf") format("truetype"),
    url("./assets/fonts/futura/Futura\ Light.ttf") format("truetype"),
    url("./assets/fonts/futura/Futura\ Extra\ Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

